/*
	COLORS
 
	Dark Blue 			#222438
	Medium Blue			#959db5
	Light Blue	 		#c9d5e1
	Dark Blue Links		#1a4a6a
	
*/

body {
	font-size: 30px;
	font-size: 3rem;
	text-align: center;
}

h1 {
	font-size: 180px;
	font-size: 18rem;
	margin: 0;
	text-shadow: 0 2px 1px #fff;
}

p {
	width: 80%;
	margin: 20px auto;
	margin: 2rem auto;
	text-shadow: 0 1px 1px #fff;
	line-height: 1.2;
}

a, a:visited {
	color: #1a4a6a;
	text-shadow: none;
}

pre {
	font-size: 18px;
	font-size: 1.8rem;
}

blockquote {
	text-align: left;
	width: 70%;
	margin: 10px auto;
	margin: 1rem auto;
	background: #fff;
	border: solid 3px #959db5;
	padding: 0 40px;
	padding: 0 4rem;
	border-radius: 6px;
	border-radius: .6rem;
}

code {
	font-style: normal;
	padding-left: 5px;
	padding-left: .5rem;
}

/*----------------------------------------  SLIDES  */

.slide {
	margin: 0 auto;
	width: 99%;
	padding: 120px 0;
	padding: 12rem 0;
	height: 40rem;
}

#title {
	line-height: .8;
}

#animations {
	padding-top: 70px;
	padding-top: 7rem;
	height: 480px;
	height: 48rem;
}

/*------------------------  BASE-REM SIZING  */


@media (min-width: 1401px) {
	html {
		font-size: 12px;
	}
}

@media (max-width: 1400px) {
	html {
		font-size: 11px;
	}
}

/* target screen width  */
@media (max-width: 1280px) {
	html {
		font-size: 10px;
	}
}
	
@media (max-width: 1160px) {
	html {
		font-size: 9px;
	}
}
	
@media (max-width: 1040px) {
	html {
		font-size: 8px;
	}
}
	
@media (max-width: 920px) {
	html {
		font-size: 7px;
	}
}
	
@media (max-width: 800px) {
	html {
		font-size: 6px;
	}
}
	
@media (max-width: 680px) {
	html {
		font-size: 5px;
	}
}
	
@media (max-width: 560px) {
	html {
		font-size: 4px;
	}
}
	
@media (max-width: 440px) {
	html {
		font-size: 3px;
	}
}

@media (max-width: 320px) {
	html {
		font-size: 3px;
	}
}