<!--                untuk cebok                   -->
html,body{height:100%;}
.carousel,.item,.active{height:100%;}
.carousel-inner{height:100%;}
.fill{width:100%;height:100%;background-position:center;background-size:cover;}



<!--                untuk cebok                   -->
$('.carousel').carousel();




<!--                untuk cebok                   -->
<div class="container fill">
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="active item">
      <div class="fill" style="background-image:url('//placehold.it/1024x700/449955/FFF');">
        <div class="container">
          
        </div>
      </div>
    </div>
    <div class="item">
      <div class="fill" style="background-image:url('//placehold.it/1024x700');">
        <div class="container">
          
        </div>
      </div>
    </div>
    <div class="item">
      <div class="fill" style="background-image:url('//placehold.it/1024x700/CC1111/FFF');">
        <div class="container">
          
        </div>
      </div>
    </div>
  </div>
  <div class="pull-center">
	<a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
	<a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
  </div>
</div>
</div>

