#container_gallery{
	position:relative;
	top : 50px;
	
}
.image_item{
	width : 25%;
}

.size1{
	width : 200px;
	height : 200px;

}
.size2{
	width : 400px;
	height : 400px;	

}
.size3{
	width : 300px;
	height : 300px;

}