  @import url(http://fonts.googleapis.com/css?family=Londrina+Solid);
  @import url(http://fonts.googleapis.com/css?family=Galdeano);
  @import url(http://fonts.googleapis.com/css?family=Oleo+Script);
  div.post{
    margin-left: 190px;
    overflow: auto;
  }
  #page-wrap{
      margin-top: 50px;
  }
  #sidebar {
    margin-left: 0px;
    margin-top: 200px;
    /*align: left;*/
    position: fixed; 
    width: 30px;
  }
  
  body, ._body{
    overflow:hidden;
  }

  .pagination-wrapper{
    /*width: 50px;*/
    /*DITEST DULU AJA*/
  }
  .pagination2{
    text-align: center;
    background-color: #A1321E;
    padding: 15px;
    width: inherit;
    display: block;
    color: #D9BFA0;
    font-family: 'Londrina Solid', cursive;
    font-size: 20pt;
    border-left: solid 8px #D97855;
    /*border-right: solid 4px #D9BFA0;*/
    /*margin-top: -20px;*/
  }
  .pagination2:hover{
    background-color: #D97855;
  }

  .post-div{
    background: #272822;
    color: #f2f2d3;
    padding: 20px;
    font-family: 'Galdeano', sans-serif;
  }
  .post-div h2{
    font-family: 'Oleo Script', cursive;
  }

  .transparent{
    zoom: 1;
    filter: alpha(opacity=80);
    opacity: 0.8;
  }
  .rounding{
    /*-moz-border-radius-topleft: 20px;
    -webkit-border-top-left-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -webkit-border-bottom-right-radius: 20px;*/
    -moz-border-radius: 120px 0px 120px 0px;
  }