.carousel { z-index: -99; }
.carousel .item {
  position: fixed; 
  width: 100%; height: 100%;
  -webkit-transition: opacity 1s  ;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;

}
.carousel .one {
  background: url(../img/food1.jpg);
  background-size: cover;
  -moz-background-size: cover;
}
.carousel .two {
  background: url(../img/food2.jpg);
  background-size: cover;
  -moz-background-size: cover;
}
.carousel .three {
  background: url(../img/food3.jpg);
  background-size: cover;
  -moz-background-size: cover;
}
.carousel .active.left {
  left:0;
  opacity:0;
  z-index:2;
}