 
body{
	color: red;
}
 /**
 *
 * Created by Fawwaz Muhammad
 * www.facebook.com/fawwazmuhammad
 */

#left_menu {
	width: 40px;
	height: 100%;
	background-color: #555;
	float: left;
	z-index: 10;
}


/*
*
* Untuk bagian social menu
*
*/
#social_menu {	
	position: fixed;
	bottom : 0px;
}

#social_menu ul{
	list-style: none;
}

/*
*
* Untuk bagian top menu
*
*/

#top_menu {
	position: fixed;
	top: 0px;
	right : 25%;
}